# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
//Ayush made this file beautiful and me only me and ayush, Jalaj and gauri please help us sometimes, Jalaj though gathered some messages but Gauri!!!
